.cabeçalho_lista {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXaWoPCiV-YCG59EMdKcCY-sldUonmEVYrqhCaG_Mxte5h7uAcG8RO1DF7deJvrO5oDCE&usqp=CAU);
    color: rgb(42, 184, 240);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 24px;
    }
    
    .cabeçalho_imagem {
    width: 25%;
    height: 25%;
    }
    
    .itens{
    display: inline-block;
    margin: 0 32px;
    font-size: 30px;
    
    }
    
    * {
    margin: 0 16px;
    padding: 24px 0;
    }