.cabeçalho_lista {
    background-image: url(https://i.pinimg.com/736x/34/ac/5c/34ac5c5b356cf6d4ab3e80bc13747980.jpg);
    color: rgb(180, 240, 42);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 24px;
    }
    
    .cabeçalho_imagem {
    width: 25%;
    height: 25%;
    }
    
    .itens{
    display: inline-block;
    margin: 0 32px;
    font-size: 30px;
    
    }
    
    * {
    margin: 0 16px;
    padding: 24px 0;
    }